body[data-theme='code'] {
  --page-background: #173d47;
  --surface-color: #244f58;
  --primary-color: #f1e75b;
  --secondary-color: #2bb1ff;
  --text-color: #ffffff;
  --card-radius: 10px;
  --board-background: #10313a;
}
